{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tabWidth": 2,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/lib/auth/(.*)$",
    "^@/lib/env/(.*)$",
    "^@/lib/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
